@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Color variables
$color-primary: #FF6F61;
$color-scondary: #2a9d8f;
$color-primary-dark: darken($color-primary, 10%);
$color-text-primary: #333;
$color-text-secondary: #666;
$color-background: #fff;

// Other variables
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-hover: rgba(0, 0, 0, 0.15);
$border-radius: 12px;
$spacing-base: 16px;
