@import "@/styles//variables.scss";

.home {
  padding-bottom: 60px;
  .home-page-categories {
    margin-bottom: 24px;
    position: relative;
    background-color: $color-text-secondary;
    color: #fff;
    margin: auto;
  }
  .home-page-products {
	section {
		padding: 32px 0;
	}
  }
}
