.header {
  display: flex;
  align-items: center;
  padding: 16px 0;
  background-color: #ff6f61;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      color: #fff;
    }
    .search-bar {
      flex: 0.8;
      position: relative;
    }
    .header-menu {
      display: flex;
      align-items: center;
      li {
        margin-right: 32px;
      }
    }
  }

  .logo {
    width: 120px;
    margin-right: 100px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .logout {
    background-color: red;
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
  }
}
